@{
    ViewData["Title"] = "Home Page";
}
<div class="w-75 row ctner-main mx-auto">
<div class="w-50">

    <div class="row mb-2">

        <div class="col container  cntner-grande primero ">
            <div class="d-flex justify-content-start mt-5">
            Aprende a dar de alta un ticket rapidamente
                </div>
                <div class="d-flex justify-content-start Subtitulo">
                Leer mas
                </div>
            </div>
        
        </div>

        <div class="row ">

            <div class="col   cntner-chico segundo ">
            </div>
            <div class="col  cntner-chico tercero ">
            
            </div>
            

        </div>


    </div>

    <div class="w-50">

        <div class="row ms-3 mb-2">

            <div class="col  cntner-chico cuarto">
            </div>
            <div class="col  cntner-chico quinto">
            </div>

        </div>

        <div class="row ms-3">

            <div class="col  cntner-grande sexto">
            </div>

        </div>


    </div>

   

</div>

